<!DOCTYPE html>
<html>
<head>
  <title>SkipitPublisher</title>
  <%= stylesheet_link_tag    "skipit_publisher/application", media: "all" %>
  <%= javascript_include_tag "skipit_publisher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
